<main>
    <div class="dashboard">

        <div id="algorithm-selector" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                    <svg></svg>
            </div>
        </div>

        <div class="highlight-points">
            <span><strong>Highlight points</strong>:</span>
            <input id="TP_button" type="button" class="button" value="True Positives" onclick="alert('True Positives!')">
            <input id="FP_button" type="button" class="button" value="False Positives" onclick="alert('False Positives!')">
            <input id="TN_button" type="button" class="button" value="True Negatives" onclick="alert('True Negatives!')">
            <input id="FN_button" type="button" class="button" value="False Negatives" onclick="alert('False Negatives!')">
        </div>
        <div class="metric">
            <svg></svg>
        </div>
        <div class="equation">
            <svg></svg>
        </div>
        <div class="algorithm">
            <svg></svg>
        </div>
        <div class="menu">
            <svg></svg>
        </div>
        <div class="line-graphs">
            <svg></svg>
        </div>
        <div class="heat-maps">
            <select id="case-selector" class='dimension'>
            </select>
            <svg></svg>
        </div>
    </div>
</main>
<script type="module" src="index.js"></script>
<script src="https://d3js.org/d3.v6.js"></script>