<main>
    <div class="dashboard">
        <div class="highlight-points">
            <svg></svg>
        </div>
        <div class="metric">
            <svg></svg>
        </div>
        <div class="equation">
            <svg></svg>
        </div>
        <div class="algorithm">
            <svg></svg>
        </div>
        <div class="menu">
            <svg></svg>
        </div>
        <div class="line-graphs">
            <svg></svg>
        </div>
        <div class="heat-maps">
            <svg></svg>
        </div>
    </div>
</main>
<script type="module" src="index.js"></script>
<script src="https://d3js.org/d3.v6.js"></script>