<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>

<main>
    <div class="dashboard">

        <div id="algorithm-selector" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                    <svg></svg>
            </div>
        </div>

        <div class="highlight-points">
            <svg></svg>
        </div>
        <div class="metric">
            <svg></svg>
        </div>
        <div class="equation">
            <h1 id="ag-m1">$${S_w(\sigma, \pi)=\sum_{i\in \sigma \cup \pi} w(i)|\sigma(i)-\pi(i)|}$$</h1>
            <h4 id="ad-m1">$${\sigma^A(y)=(A_{TP}-A_{FP})\left( \frac{1}{1+e^{5y}} \right)-1}$$</h4>
            <h4 id="ad-m2">$${S_d^A=\left( \sum_{u\in Y_d} \sigma^A(y) \right)+A_{FN}f_d}$$</h4>
            <h4 id="ad-m3">$${S^A=\sum_{d\in D} S^A_d}$$</h4>
            <h4 id="ad-m4">$${S^A_{NAB}=100\cdot\frac{S^A-S^A_{null}}{S^A_{perfect}-S^A_{null}}}$$</h4>
        </div>
        <div class="algorithm">
            <svg></svg>
        </div>
        <div class="menu">
            <svg></svg>
        </div>
        <div class="line-graphs">
            <svg></svg>
        </div>
        <div class="heat-maps">
            <select id="case-selector" class='dimension'>
            </select>
            <svg></svg>
        </div>
    </div>
</main>
<script type="module" src="index.js"></script>
<script src="https://d3js.org/d3.v6.js"></script>