.dashboard {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 5vh 50vh 8vh 8vh 27vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "menu menu menu"
  "heat-maps line-graphs line-graphs"
  "heat-maps highlight-points highlight-points"
  "heat-maps algorithm algorithm"
  "heat-maps metric equation";
  overflow: hidden;
  background-color: #E1D5E7;
}

.highlight-points {
  grid-area: highlight-points;
  border-style: solid;
  border-color: #88A3CD;
  background-color: #DAE8FC;
  margin-right: 10px;
}

.metric { 
  grid-area: metric;
  border-style: solid;
  border-color: #88A3CD;
  background-color: #DAE8FC;
  margin-bottom: 10px;
}

.equation { 
  grid-area: equation;
  border-style: solid;
  border-color: #88A3CD;
  background-color: #DAE8FC;
  margin-right: 10px;
  margin-bottom: 10px;
}

.algorithm { 
  grid-area: algorithm;
  border-style: solid;
  border-color: #88A3CD;
  background-color: #DAE8FC;
  margin-right: 10px;
}

.menu { 
  grid-area: menu;
  background-color: white;
}

.line-graphs { 
  grid-area: line-graphs;
  overflow: auto;
  margin:10px;
  margin-left: 0px;
  direction: rtl;
}

.heat-maps { 
  grid-area: heat-maps;
  border-style: solid;
  border-color: #88A3CD;
  background-color: #DAE8FC;
  margin: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}