.dashboard {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 5vh 50vh 8vh 8vh 27vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "menu menu menu"
  "heat-maps line-graphs line-graphs"
  "heat-maps highlight-points highlight-points"
  "heat-maps algorithm algorithm"
  "heat-maps metric equation";
  overflow: hidden;
  background-color: #E1D5E7;
}

.highlight-points {
  grid-area: highlight-points;
  border-style: solid;
  border-color: #88A3CD;
  background-color: #DAE8FC;
  margin-right: 10px;
}

.metric { 
  grid-area: metric;
  border-style: solid;
  border-color: #88A3CD;
  background-color: #DAE8FC;
  margin-bottom: 10px;
}

.equation { 
  grid-area: equation;
  border-style: solid;
  border-color: #88A3CD;
  background-color: #DAE8FC;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow-y:scroll;
}

.algorithm { 
  grid-area: algorithm;
  border-style: solid;
  border-color: #88A3CD;
  background-color: #DAE8FC;
  margin-right: 10px;
}

.menu { 
  grid-area: menu;
  background-color: white;
}

.line-graphs { 
  grid-area: line-graphs;
  overflow: auto;
  margin:10px;
  margin-left: 0px;
}

.heat-maps { 
  grid-area: heat-maps;
  border-style: solid;
  border-color: #88A3CD;
  background-color: #DAE8FC;
  margin: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.modal-content {
  background-color: silver;
  margin: 15% auto;
  padding: 20px;
  border: 5px solid #88A3CD;
  width: 80%;
  height: 40%;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}